.MuiBadge-badge {
	background: #ff5252 !important;
	/* this used for bell icon bage color in header */
}

.ReactCollapse--collapse {
	transition: height 300ms;
	/* this used to smooth opting of collapse in sidebar */
}

.btn-blue {
	background: #3872fa !important;
	color: #fff !important;
	padding: 8px 20px;
}

.btn-blue:hover {
	background: #3067e5 !important;
}

.btn svg {
	font-size: 20px;
}

.btn {
	padding: 8px 20px !important;
}
.btn-sm {
	padding: 6px 20px !important;
	font-size: 13px !important;
}

.btn-lg {
	padding: 8px 20px !important;
	font-size: 16px !important;
}

/* btn-blue use in dashbord compo */

/* scroll bar seting in tables on dashbord page */
::-webkit-scrollbar {
	width: 10px !important;
	height: 10px !important;
}

::-webkit-scrollbar-thumb {
	background: #ccc !important;
}

/* mui table css */
th.MuiTableCell-root {
	@apply bg-[#F9FAFB] py-2;
}

/* this is used for signup login page button activation shocasing */
a.isActive button {
	background: #e0dfdf !important;
}

/* this is used for signup login page button activation shocasing */

/* Remove number input spinners (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* otp box css */

.otpBox input {
	border: 1px solid rgba(0, 0, 0, 0.3) !important;
	outline: none !important;
	border-radius: 4px;
}
.otpBox input:focus {
	border: 1px solid rgba(0, 0, 0, 0.7) !important;
}
.otpPage .container {
	height: 90vh;
	display: flex;
}

/* otp box css */

.MuiTableBody-root tr:nth-child(even) {
	@apply bg-gray-50;
}

/* mui table css */

/* buttotn progress / loding  */
button .MuiCircularProgress-root {
	width: 30px !important;
	height: 30px !important;
}
