.MuiBadge-badge {
	background: #ff5252 !important;
	/* this used for bell icon bage color in header */
}

.ReactCollapse--collapse {
	transition: height 300ms;
	/* this used to smooth opting of collapse in sidebar */
}

.btn-blue {
	background: #3872fa !important;
	color: #fff !important;
	padding: 8px 20px;
}

.btn-blue:hover {
	background: #3067e5 !important;
}

.btn svg {
	font-size: 20px;
}

.btn {
	padding: 8px 20px !important;
}
.btn-sm {
	padding: 6px 20px !important;
	font-size: 13px !important;
}

.btn-lg {
	padding: 8px 20px !important;
	font-size: 16px !important;
}

/* btn-blue use in dashbord compo */

/* scroll bar seting in tables on dashbord page */
::-webkit-scrollbar {
	width: 10px !important;
	height: 10px !important;
}

::-webkit-scrollbar-thumb {
	background: #ccc !important;
}

/* mui table css */
th.MuiTableCell-root {
	@apply bg-[#F9FAFB] py-2;
}

/* this is used for signup login page button activation shocasing */
a.isActive button {
	background: #f3f3f3 !important;
}

/* this is used for signup login page button activation shocasing */
