.MuiBadge-badge {
	background: #ff5252 !important;
	/* this used for bell icon bage color in header */
}

.ReactCollapse--collapse {
	transition: height 300ms;
	/* this used to smooth opting of collapse in sidebar */
}

.btn-blue {
	background: #3872fa !important;
	color: #fff !important;
	padding: 8px 20px;
}

.btn-blue:hover {
	background: #3067e5 !important;
}

.btn svg {
	font-size: 20px;
}

.btn {
	padding: 8px 20px !important;
}
.btn-sm {
	padding: 6px 20px !important;
	font-size: 13px !important;
}

.btn-lg {
	padding: 8px 20px !important;
	font-size: 16px !important;
}

/* btn-blue use in dashbord compo */

/* scroll bar seting in tables on dashbord page */
::-webkit-scrollbar {
	width: 10px !important;
	height: 10px !important;
}

::-webkit-scrollbar-thumb {
	background: #ccc !important;
}

/* mui table css */
th.MuiTableCell-root {
	@apply bg-[#F9FAFB] py-2;
}

/* this is used for signup login page button activation shocasing */
a.isActive button {
	background: #e0dfdf !important;
}

/* this is used for signup login page button activation shocasing */

/* Remove number input spinners (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* otp box css */

.otpBox input {
	border: 1px solid rgba(0, 0, 0, 0.3) !important;
	outline: none !important;
	border-radius: 4px;
}
.otpBox input:focus {
	border: 1px solid rgba(0, 0, 0, 0.7) !important;
}
.otpPage .container {
	height: 90vh;
	display: flex;
}

/* otp box css */

.MuiTableBody-root tr:nth-child(even) {
	@apply bg-gray-50;
}

/* mui table css */

/* buttotn progress / loding  */
button .MuiCircularProgress-root {
	width: 30px !important;
	height: 30px !important;
}

/* Fullscreen loader wrapper */
.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Full viewport height */
	width: 100vw; /* Full viewport width */
	background-color: #f9f9f9; /* optional: light background */
}

/* Customize CircularProgress itself */
.custom-loader {
	color: #1976d2; /* MUI primary color (change if needed) */
	width: 60px !important; /* override default size */
	height: 60px !important;
}

/* zoom product componant inside product detail */
.zoomProductSliderThumbs .swiper-slider {
	height: auto !important;
}

.zoomProductSliderThumbs .swiper-button-next {
	bottom: 0px !important;
	right: inherit !important;
	top: inherit !important;
	width: 100% !important;
	height: 30px !important;
	border-radius: 0px;
}

.zoomProductSliderThumbs .swiper-button-next::after {
	transform: rotate(90deg);
}

.zoomProductSliderThumbs .swiper-button-prev {
	top: 20px !important;
	left: 0 !important;
	width: 100% !important;
	height: 30px !important;
	border-radius: 0px;
}

.zoomProductSliderThumbs .swiper-button-prev::after {
	transform: rotate(90deg);
}

/* product details page */
.productDetails .actions button {
	min-width: 40px !important;
	height: 30px !important;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	color: rgba(0, 0, 0, 0.7);
}

/* this use for deiscription which set used to rectsimple-wysiwyg */
.description-content p {
	margin-bottom: 8px;
}

.description-content ul {
	list-style: disc;
	padding-left: 20px;
}

.description-content ol {
	list-style: decimal;
	padding-left: 20px;
}
.rsw-editor {
	min-height: 200px !important;
	background: #fff !important;
}
/* this use for deiscription which set used to rectsimple-wysiwyg */
