@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.7);
}
.container {
  width: 90%;
  margin: auto;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

.link:hover {
  color: #ff5252;
}

nav ul Button {
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

nav ul Button:hover {
  text-transform: capitalize !important;
  color: #ff5252 !important;
}
