@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/* this css for all */

/* paragraph css */
p {
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 10px;
}

/* heding css */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

body {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	background: #f5f0f0;
	color: #464646;
	overflow-x: hidden;
}
/* this for body */

::-webkit-scrollbar {
	width: 5px !important;
	height: 5px !important;
}

::-webkit-scrollbar-thumb {
	background: #ff5252;
}

::-webkit-scrollbar-track {
	background: #fff;
}
/* above 3 classes related to the scroll bar */

.container {
	width: 90%;
	margin: auto;
}
/* this class for set div width and use all across the page same/ apply to every compo */

.btn-org {
	background: #ff5252 !important;
	color: #fff !important;
	font-weight: 500 !important;
	font-size: 16px !important;
}

.btn-org:hover {
	background: #171717 !important;
}

.btn-lg {
	font-weight: 600 !important;
	font-size: 16px !important;
}
/* button class */

.MuiBadge-badge {
	background-color: #ff5252 !important;
}

.link:hover {
	color: #ff5252;
}
/* link class */

nav ul Button {
	text-transform: capitalize !important;
	color: rgba(0, 0, 0, 0.7) !important;
}

nav ul Button:hover {
	text-transform: capitalize !important;
	color: #ff5252 !important;
}
/* 2 css related nav and there buttons */

.sliderHome {
	overflow: inherit !important;
}
/* homeslider class */

.swiper-button-prev,
.swiper-button-next {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border-radius: 100%;
	width: 45px;
	height: 45px;
	min-width: 45px;
	box-shadow: 0 1px 3px #0000003d !important;
}
/* swiper buttons css set default */

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 22px !important;
	color: #000;
}
/* swiper buttons css set default */

.homeCatSlider {
	overflow: inherit !important;
}

.homeCatSlider .swiper-button-next,
.homeCatSlider .swiper-button-prev,
.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
	width: 30px;
	height: 30px;
	min-width: 30px;
}
/* swiper buttons css set according to the slider size */

.homeCatSlider .swiper-button-next::after,
.homeCatSlider .swiper-button-prev::after,
.smlBtn .swiper-button-prev::after,
.smlBtn .swiper-button-next::after {
	font-size: 16px !important;
}
/* swiper buttons css set according to the slider size */

/* .homeCatSlider .swiper-button-next {
	right: -10px !important;
}

.homeCatSlider .swiper-button-prev {
	left: -10px !important;
} */

.homeCatSlider .item {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	background: #ff5252 !important;
}
/* swiper buttons css set default */

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
	color: #fff !important;
}
/* swiper buttons css set default */

.homeCatSlider .item:hover img {
	transform: scale(1.1);
}

.MuiTabs-indicator {
	background-color: #ff5252 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
	color: #ff5252 !important;
}

.productsSlider .swiper-wrapper {
	padding: 15px;
	margin-left: -15px;
	margin-right: -15px;
}

.swiper-pagination-bullet-active {
	/*this use for pagination bullet coler set on slider */
	background: #ff5252 !important;
}

.homeSliderV2 .swiper-button-prev,
.homeSliderV2 .swiper-button-next {
	/* css for sliderV2-buttons square button */
	border-radius: 15%;
	width: 30px;
	height: 30px;
	min-width: 30px;
}

.homeSliderV2 .swiper-button-next {
	/* margin for button */
	margin-right: 2.5%;
	right: -100%;
	opacity: 0;
}

.homeSliderV2:hover .swiper-button-next {
	/* margin for button */
	right: 0px !important;
	opacity: 1;
	transition: all;
	transition-duration: 300ms;
}

.homeSliderV2:hover .swiper-button-prev {
	/* margin for button */
	left: 0px !important;
	opacity: 1;
	transition: all;
	transition-duration: 300ms;
}

.homeSliderV2 .swiper-button-prev {
	/* margin for button */
	margin-left: 2.5%;
	left: -100%;
	opacity: 0;
}

.homeSliderV2 .swiper-slide-active .info {
	right: 0px !important;
	opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h4 {
	right: 0px !important;
	opacity: 1;
}

/* checkbox color css in footer*/
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
	color: #ff5252 !important;
}

/* check title in footer */
.MuiFormControlLabel-label {
	font-size: 13px !important;
	color: rgba(0, 0, 0, 0.7);
}

/* checkbox padding */
.MuiCheckbox-root {
	padding: 6px !important;
}

/* colaps style in sidebar in productListing */

.ReactCollapse--collapse {
	transition: height 500ms;
}

/* on productListing page grid and list icon css */
.itemViewAction button.active svg {
	color: #ff5252 !important;
	opacity: 1;
}

/* zoom product componant inside product detail */
.zoomProductSliderThumbs .swiper-slider {
	height: auto !important;
}

.zoomProductSliderThumbs .swiper-button-next {
	bottom: 0px !important;
	right: inherit !important;
	top: inherit !important;
	width: 100% !important;
	height: 30px !important;
	border-radius: 0px;
}

.zoomProductSliderThumbs .swiper-button-next::after {
	transform: rotate(90deg);
}

.zoomProductSliderThumbs .swiper-button-prev {
	top: 20px !important;
	left: 0 !important;
	width: 100% !important;
	height: 30px !important;
	border-radius: 0px;
}

.zoomProductSliderThumbs .swiper-button-prev::after {
	transform: rotate(90deg);
}

/* product details page */
.productContent .actions button {
	min-width: 40px !important;
	height: 30px !important;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	color: rgba(0, 0, 0, 0.7);
}

/* product details page input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* product detail review box */
.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
	color: #ff5252 !important;
}

.css-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
	.MuiOutlinedInput-notchedOutline {
	border-color: #ff5252 !important;
}

/* verify / otp page css */
.otpBox input {
	border: 1px solid rgba(0, 0, 0, 0.3) !important;
	outline: none !important;
	border-radius: 4px;
}

.otpBox input:focus {
	border: 1px solid rgba(0, 0, 0, 0.7) !important;
}

.otpPage .container {
	height: 90vh;
	display: flex;
}
